// Colors
$light_green: #94DDBC;
$dark_green: #88BB92;
$light_blue: #CDF7F6;
$pink: #ffd6df;
$input_background: #f7f7f7;

// Fonts
$font_normal: 20px;
$font_small: 15px;

// Spacing
$margin_normal: 20px;
