@import "utils/variables";

nav {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.nav-items {
  margin-bottom: 10px;
}

.bunny-link {
  border-bottom: 3px solid $light_green;

  &:hover {
    border-color: $dark_green;
  }
}
