@import "utils/variables";

.new-list-button {
  text-align: left;
  padding: 10px;
  padding-left: 5px;

  &:before {
    content: "+";
    position: relative;
    bottom: 1px;
    margin-right: 10px;
  }

  &:hover {
    background: $light_blue;
  }
}
